@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Lato:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.logo_nav .right_side {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.payment {
    margin-top: 50px;
}

.payment h4 {
    font-family: 'lato', sans-serif;
    padding: 30px;
    font-size: 30px;
}

.payment .payment-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.payment .payment-flex .col1 {
    flex-basis: 30%;
}

.payment .payment-flex .col2 {
    flex-basis: 60%;
}

.payment .payment-flex .col1 img {
    width: 450px;
    height: 250px;
}


.payment form input {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 8px;
    outline: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

.payment form .inputgroup input {
    width: 100%;
}

.payment .inputgroup2 {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.payment .inputgroup2 .col{
    flex-basis: 48%;
}

.payment .inputgroup2 .col input {
    width: 100%;
}

.payment .inputgroup3 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 10px;
}

.payment .inputgroup3 .col3 {
    margin-left: 10px;
}

.payment .inputgroup3 .col4 {
    margin-top: -10px;
    margin-right: 10px;
    width: 150px;
}

.payment .inputgroup3 .col4 input {
    width: 150px;
    color: #ffff;
    background: #4A86f8;
    border: 0;
    transition: 0.3s;
    border-radius: 5px;
}
.payment .inputgroup3 .col4 input:hover {
    cursor: pointer;
    background: #1457d3;
}


@media (max-width: 1024px) {
    .payment .payment-flex {
        flex-wrap: wrap;
    }

    .payment .payment-flex .col1 {
        flex-basis: 100%;
    }
    
    .payment .payment-flex .col2 {
        flex-basis: 100%;
    }

    .payment .col2 {
        margin-top: 40px;
    }
    
}

@media (max-width: 450px) {
    .payment h4 {
        font-size: 20px;
        padding: 15px;
    }
    .payment .payment-flex .col1 img {
        width: 100%;
        height: 170px;
    }
    .payment .col2 {
        margin-top: 20px;
    }
}

@media (max-width: 370px) {
    .payment .inputgroup2 {
        flex-wrap: wrap;
    }
    .payment .inputgroup2 .col{
        flex-basis: 100%;
    }
}