@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Lato:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    width: 95%;
    margin: auto;
    padding: 5px 10px 5px 10px;
}
.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-family: 'DM Sans', sans-serif;
}

.flex-header i {
    font-size: 30px;
    color: #4A86f8;
    display: none;
}

.logo_nav .col {
    flex: 1;
}

.logo_nav .left_side {
    display: flex;
    align-items: center;
    text-align: center;
}

.logo_nav .left_side ul {
    list-style: none;
    margin-left: 50px;
    padding: 20px;
}

.logo_nav .left_side ul li {
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.logo_nav .left_side ul li::after {
    content: ' ';
    position: relative;
    width: 0;
    height: 2px;
    top: 5px;
    background-color: #4A86f8;
    bottom: 0;
    margin: auto;
    display: block;
}

.logo_nav .left_side ul li:hover::after {
    width: 100%;
    transition: 0.3s;
}

.logo_nav .left_side ul li a {
    padding: 5px;
    color: #616060;
    font-weight: 700;
    font-size: 13px;
    opacity: 0.9;
}

.logo_nav .right_side {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo_nav .right_side ul {
    list-style: none;
    margin-left: 50px;
    padding: 20px;
}

.logo_nav .right_side ul li a {
    padding: 5px;
    color: #616060;
    font-weight: 700;
    font-size: 13px;
    opacity: 0.9;
}
.logo_nav .right_side ul li {
    display: inline-block;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.logo_nav ul li.active {
    background: #4A86f8;
    color: #fff;
    border-radius: 5px;
    transition: 1s;
}

.logo_nav ul li.active:hover {
    cursor: pointer;
    border: 0;
}

.logo_nav ul .underline::after {
    content: ' ';
    position: relative;
    width: 0;
    height: 2px;
    top: 5px;
    background-color: #4A86f8;
    bottom: 0;
    margin: auto;
    display: block;
}

.logo_nav .underline:hover::after {
    width: 100%;
    transition: 0.3s;
}
.logo_nav ul li a {
    padding: 5px;
    color: #616060;
    font-weight: 500;
}

.logo_nav ul li.active a{
    color: #ffff;
    opacity: 1;
    padding: 10px
}


/*Style sheet for the side menu*/
.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 200;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.3s ease-out;
}

.menu a {
    text-decoration: none;
    padding: 10px 10px 10px 30px;
    font-size: 22px;
    display: block;
    font-weight: bold;
    color: lightgray;
    transition: 0.5s ease-out;
    font-family: 'DM Sans', sans-serif;
}

.menu ul li:nth-child(1) {
    margin-top: 50px;
}


.menu a:hover {
    cursor: pointer;
    color: #fff;
    background-color: #4A86f8;
}

.menu .menu-close {
    position: absolute;
    top: -5px;
    right: 0;
    margin-left: 0px;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    background-color: #1A4FB1;
}

footer .flex-footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

footer .flex-footer .col {
    width: 20%;
}

footer .flex-footer i {
    color: black;;
    padding: 20px;
    margin-top: 20px;
    color:  #FFF;
}

footer .flex-footer .logo, footer .flex-footer p {
    font-family: 'Lato', sans-serif;
    width: 100;
    font-size: 22px;
}

footer .flex-footer p {
    margin-top: 20px;
    color: #fff;
}

footer h2 {
    margin-top: 20px;
    margin-left: 5px;
    padding: 10px;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
}

footer ul {
    list-style: none;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

footer li {
    margin-top: 10px;
    padding: 5px;
}

footer ul li a {
    font-size: 22px;
    color: #fff;
}

footer .news-letter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    background-color: #fff;
    border-radius: 50px;
    width: 130%;
    margin-top: 10px;
}

footer input {
    width: 80%;
    padding: 7px;
    outline: none;
    border: 0;
}

footer ::placeholder {
    font-size: 18px;
    opacity: 0.5;
}

footer .send {
    padding: 4px;
    background-color: #1A4FB1;
    border-radius: 50%;
}

footer img {
    margin-left: 3px;
    margin-top: 2px;
}
