*{
    margin: 0;
    padding: 0;
}


html{
    box-sizing: border-box;
    font-size: 62.5%;   /* 1 rem = 10px, 10/16 * 100 */
}

body{
    font-family: 'open-sans', sans-serif;
    color: #fff;
    font-weight: 400;
    line-height: 1.6;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.main-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.5)), url(images/team-african-men-working-auto-service.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    padding: 0 auto;
}

.hero-text{
    font-size: 5rem;
    text-align: center;
    padding-top: 15rem;
}

#search__bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem auto;
}

.search__input{
    width: 40%;
    color: rgba(53, 49, 49, 0.377);
    font-size: 3rem;
    padding: 1rem;
    /* padding-left: 2rem; */
    border-radius: 7rem;
    outline: none;
    transition: all 0.2s;
    transition: 0.3s;
    outline: none;
}
.search__input::placeholder{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgba(53, 49, 49, 0.377); 
}

.search__input:focus{
    width: 55%;
}

.btn-search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    font-size: 2.8rem;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10rem;
    padding: 1rem 0.8rem;
    text-decoration: none;
    text-align: center;
    margin: 2rem;
    background-color: #4A86F8;
    margin-left: -5.5rem;
}

.search__btn img{
    margin-right: 0.5rem;
}

.main-container {
    position: relative;
}

.main-container .menu-open {
    content: ' ';
    position: absolute;
    top: 20px;
    bottom: 10px;
    left: 20px;
    visibility: hidden;
}

.main-container .menu-open i {
    font-size: 35px;
    color: #fff;
    
}

@media  only screen and (max-width: 600px) {
    html{font-size: 50% ;}

    .main-container{
        min-height: 92.5vh;
        background-position: left;
    }

    .search__input{
        width: 60%;
    }

    .search__input:focus{
        width: 70%;
    }
}

@media (max-width: 768px) {
    .main-container{
        min-height: 91vh;
    }
}





/*This stylesheet was created to handle all my screen sizes,
to make the web pages responsive */

@media(max-width: 1222px) {
    .main-container .menu-open i {
        visibility: visible;
    }
}
